<!DOCTYPE html>

<meta charset="utf-8">
<head>
    <link rel="stylesheet" href="./style.css">
</head>
<!-- Load d3.js -->
<script src="d3.v7.js"></script>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<link rel="stylesheet" href="font.css">
<div class = 'container' id = 'content'>

  <div class="sidebar">
    <a href="/" style="height: 11%;padding: 0px 15px;">
    <img src="logo_new.png" alt="Logo" class="sidebar-logo">
  </a>

    <a href="/"  class="active" style="text-align:center; display:block;">
      <img src="icon/home.svg" style="width:40%;margin-top:20px;margin-bottom:20px;" >
      <br>ContAQT Platform
    </a>
    <a href="/video" style="text-align:center; display:block;">
      <img src="icon/video.svg" style="width:40%;margin-top:20px;margin-bottom:20px;" >
      <br>Constructing AQI</a>
    <a href="" style="text-align:center; display:block;">
      <img src="icon/data.svg"  style="width:35%;margin-top:20px;margin-bottom:20px;" >
      <br>
      Data Source</a>
    <a href="" style="text-align:center; display:block;">
      <img src="icon/more.svg" style="width:40%;margin-top:20px;margin-bottom:20px;" >
      <br>
      More</a>
  </div>
<div style="width:93%;height:100%;flex-grow: 1;">
<div class="top-nav">
  <a href="/visualizing">Decoding Air Quality Index</a>
  <a href="/" >Realtime AQI</a>
  <a href="/calendar" class="active">AQI Calendar</a>
</div>
  <div style="display: flex;padding-top:50px;">
  <div class="left-div" id="left-div" >
    <div id="overlay" style="display:none; position:fixed; top:12%; left:7.5%; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:100;">
      <!-- Content inside overlay -->
      <div style="position:relative; background:#fff; margin:10% auto; width:50%;border-radius: 15px;">
          <div id="overlay-content1">
            <h2 style="text-align:left; margin-bottom:20px;">Particulate Matter (PM2.5 & PM10)</h2>
            <div style="display:flex; justify-content:space-between;">
              <div style="padding-right: 15px;width:40%"> <!-- Adjusted the padding for spacing -->
                <div>
                  <p id='p-what'>Particulate Matter is a general term for solid and liquid particle pollution in the atmosphere. Particulate Matter can be 2.5 or 10 micrometers in diameter.</p>
                </div>
              </div>
              <div style="display: flex; justify-content: center; align-items: center;width:55%"> <!-- Centered the image in the div -->
                <img id = 'illustration' src="image1.png" alt="Carbon Monoxide" style="width:100%; height: auto;"> <!-- The image will now fill its container -->
              </div>
            </div>
          </div>
          <div id="overlay-content2">
            <h4 id = 'p-title' class = 'note' >Nitrogen Dioxide</h4>
              <div style="width: 100%; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto 1fr; align-items: left;">
                <div style="grid-column: 1; text-align: left;padding-right:15px;">
                  <h3 style="margin-bottom: 10px;margin-top:4px">Cause</h3>
                  <p id='p-where' style="margin-bottom: 20px;">NO2 is primarily produced from the burning of fuels in vehicles, power plants, and industrial facilities. It forms from reactions involving nitrogen oxides released during combustion processes.</p>
                </div>
                <div style="grid-column: 2 ; text-align: left;padding-left:15px;">
                  <h3 style="margin-bottom: 10px;margin-top:4px">Impact</h3>
                  <p id='p-how'style="margin-bottom: 20px;">NO2 worsens respiratory conditions in humans, contributes to ozone formation; affects nature by contributing to acid rain, damaging vegetation, and reducing biodiversity.</p>
                </div>
                <div style="grid-column: 1; display: flex; justify-content: top; align-items: center;">
                  <!-- First image -->
                  <img id = 'cause' src="image1.png" alt="cause" style="width:100%;height: auto;">
                </div>
                <div style="grid-column: 2; display: flex; justify-content: top; align-items: center;">
                  <!-- Second image -->
                  <img id = 'harm' src="image1.png" alt="harm" style="width:100%;height: auto;">

              </div>
            </div>
            </div>
        <span id="close-icon" style="color:#888888;position:absolute; top:0; right:0; cursor:pointer; font-size:24px; padding-top:10px;padding-right:24px;">&times;</span>
        <p id = "note_card" > 1/2 </p>
    </div>

    </div>
    <div id="overlay_DP" style="display:none; position:fixed; top:12%; left:7.5%; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:100;">
      <div id="overlay2" style="position:relative; background:#fff; margin:10% auto; width:50%;border-radius: 15px;">
            <div style="display: flex; justify-content: center; align-items: center; padding:60px;">
              <img src="illustration/DP_card.png" style="width:95%;">
            </div>
        <span id="close-icon-DP" style="color:#888888;position:absolute; top:0; right:0; cursor:pointer; font-size:24px; padding-top:10px;padding-right:24px;">&times;</span>
      </div>
    </div>
    <div id="overlay_color" style="display:none; position:fixed; top:12%; left:7.5%; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:100;">
      <div id="overlay3" style="position:relative; background:#fff; margin:10% auto; width:50%;border-radius: 15px;">
         <div style="display: flex; justify-content: center; align-items: center; padding-top: 40px;padding-bottom: 80px;">
          <img src="illustration/color.png" style="width:90%;">
        </div>
        <span id="close-icon-color" style="position:absolute; top:0; right:0; cursor:pointer; font-size:24px; font-weight:bold; padding-top:10px;padding-right:24px;">&times;</span>
      </div>
    </div>
    <div id="explain_text" style="padding:1vh 4vw;">
      <img src="illustration/location.png" style="width:6vw;margin-bottom: -1vh;">
      <h1>AQI Trends</h1>
      <p style="padding-bottom: 60px;">Throughout years, Atlanta generally experienced good or moderate air quality. Nevertheless, several challenges persisted, influenced by factors like <b><i>traffic congestion, industrial activities, pollen, and specific events such as the Canadian wildfires in 2023</i></b>. Explore the AQI calendar of the the back 10 years and see if you can discover any noticeable patterns and potential causes!</p>
      <h1>Data, Data, Data</h2>
      <p>The annual air quality data for Atlanta, Georgia, was sourced from <b><i>the United States Environmental Protection Agency (EPA) Air Quality System Data Mart</i></b>, an open-source database. The dataset here was collected by a monitoring station in South DeKalb. Across the United States, pollutant concentrations are monitored by over 4,000 stations. This extensive network provides critical data for assessing and managing air quality nationwide.</p>
    </div>


    <div id = 'daily_chart'  style="height:100%;flex-grow: 1;display:none;">

    <div class="floating-legend-left" id="floating-legend-left">

      <ul>
        <li><span class="indicator good"></span>Good</li>
        <li><span class="indicator moderate"></span>Moderate</li>
        <li><span class="indicator unhealthy-sg"></span>Unhealthy for Sensitive Groups</li>
        <li><span class="indicator unhealthy"></span>Unhealthy</li>
        <li><span class="indicator very-unhealthy"></span>Very Unhealthy</li>
        <li><span class="indicator hazardous"></span>Hazardous</li>
      </ul>
    </div>
    </div>
</div>
<div class="right-div" id = "right-div">
  <div class="calendar-header" id="calendar-header" style="display:none">
  <button id="back-to-year-btn">Back to Year</button>
  <button id="prev-month-btn">❮</button>
  <span id="calendar-title">August 2023</span>
  <button id="next-month-btn">❯</button>
</div>
<div id = 'color_bar'>
</div>
<div class = 'year_view' id = 'year_view' >
</div>
  <div id = 'calendar'>
  </div>
  <!-- Content for right div -->
</div>
</div>
</div>
</div>
<script src = "set_up_calender.js"></script>
<script src = "year_calender.js"></script>
<script src = "year_view.js"></script>
<script>
    // Prevent the context menu (right-click menu) from appearing.
    document.addEventListener('contextmenu', function(e) {
        e.preventDefault();
    }, false);
</script>
