body, html {
  font-family: Inter, sans-serif;
  overflow: hidden;
  background-color:#ffffff;
  margin: 0;
  padding: 0;
  height: 100%; /* This ensures the html and body are full height */
}
html {
  touch-action:none;
}
content {
  width :100%
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


* {box-sizing:border-box}





/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.axis{
  font-size: 16px;
  font-family:sans-serif;
}
.x-axis{
  font-size: 16px;
  font-family:sans-serif;
}
.pullution-axis{
  font-size: 12px;
  font-weight: 500;
}
.pullution-value{
  font-size: 22px;
  font-weight: 500;
}

.legend{
  font-size: 22px;
}
.rosa_text{
  font-size:26px;
  font-weight:600;
  text-anchor:middle;
}


.floating-div {
    position: fixed;
    top: 16vh;
    left:80vw;
    background-color: #ffffff;
    width:14%;
    padding:6px;

    box-shadow: 0 0 10px rgba(81,81,81, 0.25);
    border-radius: 8px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.floating-div-left {
    position: fixed;
    top: 16%;
    left:9%;
    width:13%;
    padding:6px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(81,81,81, 0.25);
    border-radius: 8px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aqi-value {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
    padding-bottom: 16px;
    padding-top: 16px;

}
.date-text {
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  width:100%;
    font-size: 18px;
    font-weight: 400;
    margin: 2px 0;
    border-bottom: 1px solid #e2e2e2;

}
.text-info {

  padding-bottom: 10px;
  color:#656565;

}
.pollutant-text-left {
    font-size: 14px;
    font-weight: 400;
    vertical-align: top;
    display: inline-block; /* or 'block' depending on your layout needs */
     max-width: 130px; /* Set your desired width */
     word-wrap: break-word; /* Allows long words to wrap and break onto the next line */
     text-align: center;
     color:#656565;
   }
.separator {
  display: inline-block;
  vertical-align: top; /* Centers the dot vertically */
  margin: 0 8px; /* Adjust the margin to control spacing around the dot */
  margin-top: -8px;
  font-size:30px;
  color:black;
}
.pollutant-text-right {
    font-size: 14px;
    font-weight: 400;
    margin-left:4px;
    vertical-align: top;
}

.floating-legend {
  position: fixed;
  top: 34.5vh;
  left:80vw;
  display: block; /* Change from flex to block to allow the default list styling */
  padding-top: 20px;
  padding-left:24px;
  padding-bottom:10px; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(81,81,81, 0.25);
  font-size: 14px;
  width:14%; /* Ensure the width is as per content */
  max-width: 90%; /* Optional: to ensure it doesn't get too wide */
}

.floating-legend ul {
  list-style-type: none; /* Removes default list bullet */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.floating-legend li {
  margin-bottom: 12px; /* Increase space between lines. Adjust value as needed */
  padding-left: 30px; /* Add padding for inline-block circle */
  position: relative; /* Needed for absolute positioning of the circle */
}

.indicator {
  height: 15px; /* Size of the circle */
  width: 15px; /* Size of the circle */
  border-radius: 50%; /* Makes the indicator a circle */
  display: inline-block; /* Allows us to set a width and height */
  position: absolute; /* Positions the circle absolutely within the li */
  left: 0; /* Aligns the circle to the far left of the li */
  top: 50%; /* Centers the circle vertically */
  transform: translateY(-50%); /* Fine-tunes the vertical centering */
}

/* Specific colors for each indicator type */
.good {
  background-color: #34B274;
}

.moderate {
  background-color: #FDD000;
}

.unhealthy-sg {
  background-color: #F4681A;
}

.unhealthy {
  background-color: #D3112E;
}

.very-unhealthy {
  background-color: #8854D0;
}

.hazardous {
  background-color: #731425;
}
.floating-legend-left {
  position: fixed;
  top: 16%;
  left:34%;
  display: block; /* Change from flex to block to allow the default list styling */
  padding-top: 20px;
  padding-left:24px;
  padding-bottom:10px; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(81,81,81, 0.25);
  font-size: 14px;
  width: 12.5%; /* Ensure the width is as per content */
  max-width: 90%; /* Optional: to ensure it doesn't get too wide */
}

.floating-legend-left ul {
  list-style-type: none; /* Removes default list bullet */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.floating-legend-left li {
  margin-bottom: 12px; /* Increase space between lines. Adjust value as needed */
  padding-left: 30px; /* Add padding for inline-block circle */
  position: relative; /* Needed for absolute positioning of the circle */
}



.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.left-div {
  width: 30%;
  padding: 10px;
  box-sizing: border-box; /* Padding included in the width */
  position: relative;
  margin-right: 1%; /* Adjust the spacing as needed */
}

.right-div {
  width: 70%;
  padding-left:30px;
  padding-right:30px;
  padding-top:20px;
  box-sizing: border-box; /* Padding included in the width */
  border-left: 1px  dashed #aeaeae;
}

#calendar-header {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center;     /* Vertically center the content */
  padding: 20px;
  width: 100%;             /* Ensure the header takes full width of its container */
  text-align: center;      /* Center text for any text directly inside the header */
}
#back-to-year-btn {
    order: -1;
    margin-right: auto;
}
#prev-month-btn, #next-month-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
  font-size: 24px;
}

#calendar-title {
  font-size: 24px;
  font-family: sans-serif;
}
.year_view {

  width: 100%;
  height: 75vh;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  padding-right:30px;
}
#calendar {

  width: 100%;
  height: 75vh;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  padding-right:30px;
}
#calendar svg {
    display: block; /* SVG is block level, so it doesn't create extra space */
    /* Set a max height if desired, or let it expand to the height of its content */
}
.semi-title {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}
.note {
  font-size: 12px;
  font-family: sans-serif;
  color:#777777;
}
#note_card {
  font-size: 12px;
  font-family: sans-serif;
  color:#777777;
  position: absolute;
  bottom: 40px; /* 50px from the bottom edge */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%; /* Ensure it spans the full width of the container */
  text-align: center; /* Center the text if it wraps */
}
/* Overlay styles */
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a z-index scale */
  cursor: pointer; /* Add a pointer on hover */
}


/* Button to close the overlay */
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main_text{
  font-size:20px;
}

.sub_title{
  font-size:28px;
  font-weight:500;
}
.center-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside each <p> */
    margin: 0; /* Remove default margin */
width: 100vw; /* Make the container fill the viewport width */
}
p {
    margin: 10px 0; /* Add some space between paragraphs */
}
.exclamation-mark {
  color: white;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 10px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent; /* 左侧透明边框 */
  border-right: 25px solid transparent; /* 右侧透明边框 */
  border-bottom: 43px solid black; /* 顶部边框的颜色为黑色，代表三角形的颜色 */
  margin: auto; /* 水平居中三角形 */
  padding-top:0px;
  padding-bottom:10px;
}
#overlay-content1{
  position:relative;
  background:#fff;
  padding:40px;
  padding-bottom:10px;
  border-bottom: 60px solid #003E93;
  border-radius: 15px;
  height:43vh;
}
#overlay-content1:after {
    content: "Tap to see more information 👆"; /* The text you want to display */
    position: absolute;
    bottom: -50px; /* Adjust as needed */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #003E93; /* Background color for the text box */
    color: white; /* Text color */
    font-size: 20px; /* Adjust as needed */
    box-sizing: border-box;
     border-radius: 15px;
}

/* This style will initially hide your div layout */
#overlay-content2 {
  display: none;
  position:relative;
  background:#fff;
  padding:40px;
  padding-bottom:0px;
  border-bottom: 60px solid #003E93;
  border-radius: 15px;
  height:43vh;
}

#overlay-content2:after {
    content: "Tap to see more information 👆"; /* The text you want to display */
    position: absolute;
    bottom: -50px; /* Adjust as needed */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #003E93; /* Background color for the text box */
    color: white; /* Text color */
    font-size: 20px; /* Adjust as needed */
    box-sizing: border-box;
     border-radius: 15px;
}

/* This class will be added via JavaScript to show the div layout */
.show {
  display: block;
}
/* Container for navigation elements */
.navigation-container {
  position: relative;
  top: 75%; /* Adjust distance from bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for round buttons */
.round-button {
  background-color: #f4f4f4; /* Light gray background */
  border: none;
  color: #333; /* Dark gray text color */
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%; /* Makes the button round */
  width: 60px; /* Fixed width */
  height: 60px; /* Fixed height */
  line-height: 0px; /* Centers the arrow vertically */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a slight shadow */
}

/* Styles for progress dots */
.progress-dots-container {
  display: flex;
  padding: 0 20px; /* Space on the left and right */
}

.progress-dot {
  display: inline-block;
  width: 15px; /* Dot size */
  height: 15px; /* Dot size */
  border-radius: 50%; /* Makes the dot round */
  background-color: #bbb; /* Default inactive color */
  margin: 0 10px; /* Spacing between dots */
}

.progress-dot.active {
  background-color: #333; /* Active step color */
}

  .sidebar {
    flex: 0 0 7%;
    height: 100%;
    width: 7%;
    z-index: 1;
    background-color: #F6F6F7;
    overflow-x: hidden;
  align-items: center;
  }

  .sidebar-logo {
    display: block;
    width: 90%; /* Adjust size as needed */
    height: auto;
    padding-top:50px;

  }

  .sidebar a {
    padding: 40px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #353535;
    display: flex;
    align-items: flex-end; /* Align text to the bottom */
    justify-content: center; /* Center text horizontally */
    box-sizing: border-box; /* Include padding in the element's total width and height */

}

  .sidebar a:hover {
    background-color: #E2EEFF;
  }
  .sidebar a.active {
    background-color: #E2EEFF;
    color:#3273D1;
  }
  /* Style for the navigation bar */
   .top-nav {
     width: 100%;
     height:11vh;
     background-color: #ffffff; /* Change as needed */
     display: flex;
     justify-content: space-around; /* This will space your menu items evenly */
     align-items: center;
     padding-left: 9vw; /* Add padding top and bottom */
     padding-right: 9vw; /* Add padding top and bottom */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }

   /* Style for the navigation links */
   .top-nav a {
     width:20vw;
     text-decoration: none;
     color: #888888; /* Change as needed */
     font-size: 26px;
     height:100%;
     padding-top:4.5vh;
     border-bottom: 3px solid transparent; /* Invisible border, will become visible on hover */
     text-align: center;
   }

   /* Style for the navigation links on hover */
   .top-nav a:hover {
     border-bottom: 3px solid #3587FF; /* Change as needed */
     color: #3587FF;
   }

   /* Style for the active/current navigation link */
   .top-nav a.active {
     border-bottom: 3px solid #3587FF; /* Change as needed */
     background-color: #ffffff;
     color: #3587FF;
   }

   #explain_text {
     background-color: #ffffff; /* White background */
     padding: 20px; /* Padding inside the div */
   }

   h1 {
     color: #00529B; /* Blue color for the header */
     font-size: 36px; /* Size of the font */
     margin-bottom: 20px; /* Space after the header */
     font-weight: 500;
   }


   p {
     color: #333333; /* Dark grey color for the text */
     font-size: 16px; /* Size of the font */
     line-height: 1.5; /* Spacing between lines */
     margin-top: 0;
     margin-bottom: 40px; /* Space after the paragraph */
   }

   .header-container {
    display: flex;
    align-items: center; /* Aligns the image and the text vertically */
  }
  
  .header-container img {
    margin-right: 10px; /* Adds space between the image and the heading */
  }